@(id: Long)

@main {

<div ng-controller="ClinicalRecordCtrl">

	<h1 id="homeTitle">Pacientes</h1>
	
	<div class="alert-message block-message success">{{message}}</div>

	<div class="well">
		<h2>Internação: @id </h2> <br />
		<b>Nome : </b>{{intern.patient.name}}<br />
		<b>Leito : </b>{{intern.bed.description}}
		
		<form class="ng-pristine ng-valid">
		   	<fieldset >
    			<label for="name">Medico:</label>
    			<div class="input">
    				<select ng-options="item.name for item in professionals"   ng-model="professional"></select>
		    	</div>
		    	<br />
		    	<label for="name">Acompanhamento:</label>
    			<div class="input">
				    <input type = "text" ng-model = "description" />
		    	</div>
	    	</fieldset>
		  	<div class="actions">
	    		<input type="submit" value="Adicionar" class="btn success" ng-click="save()" />
   			</div>
    	</form>
	
 	</div>
	
	<h2>Lista de pacientes</h2> <br />
	
	<table class="computers zebra-striped" >
		<thead>
			<tr>
				<td>Id</td>
				<td>Medico</td>
				<td>Acompanhamento</td>
			</tr>
		</thead>
		<tbody >
			<tr ng-repeat="item in records">
	   			<td ng-model="id">{{item.id}}</td>
	   	        <td> {{item.professional.name}} </td>
	   	        <td> {{item.description}} </td>
             </tr>
	        </tbody>
	    </table>

</div>	    
	<script type="text/javascript">
	
		function ClinicalRecordCtrl ($scope, $http) {

			$scope.save = function(){
			
				var data = { id : null , intern :{ id : @id} , professional : $scope.professional, description: $scope.description}
				
				var _url = "@routes.ClinicalRecordController.save()";
				
				$http.post(_url, JSON.stringify(data)).success(
						function(data, status, headers, config) {
							$scope.list();
							$scope.clear();
							$scope.message = data.message;
				})
				. error(function(data, status, headers, config) {
					
					$scope.message = "Erro ao chamar a url " + _url + " status " + status;
					
				});
			}
			
			$scope.listProfessionals = function () {
				
				var _url = "@routes.ProfessionalController.list()";
				$http({method: 'GET', url: _url}).
			  		success(function(data, status, headers, config) {
			  		$scope.professionals = data.data;
					// this callback will be called asynchronously
			    	// when the response is available
			  })
			  . error(function(data, status, headers, config) {
			    // called asynchronously if an error occurs
			    // or server returns response with an error status.
				  $scope.message = "Erro ao chamar a url " + _url + " status " + status;
			  });
			}
				
			$scope.getInfo = function () {
				
				var data = { id : @id}
				
				var _url = "@routes.InternController.getinfo()";
				
				$http.post(_url, JSON.stringify(data)).success(
						function(data, status, headers, config) {
							
							$scope.intern = data.data;
							
				})
				. error(function(data, status, headers, config) {
					
					$scope.message = "Erro ao chamar a url " + _url + " status " + status;
					
				})
			}
			
			$scope.list = function () {
				
				var data = { id : @id}
				
				var _url = "@routes.ClinicalRecordController.list()";
				
				$http.post(_url, JSON.stringify(data)).success(
						function(data, status, headers, config) {
							
							$scope.records = data.data;
							$scope.message = data.message;
							
				})
				. error(function(data, status, headers, config) {
					
					$scope.message = "Erro ao chamar a url " + _url + " status " + status;
					
				});
		
			}
			
			$scope.clear = function () {
				$scope.listProfessionals();
				$scope.description = '';
				$scope.message = '';
			}
			
			$scope.list();
			$scope.listProfessionals();
			$scope.getInfo();
			
		}
		
    </script>
}

