@(content: Html)

<!DOCTYPE html>
<html ng-app>
    <head>
        <title>Gestão Hospitalar</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta http-equiv="Content-Language" content="pt-BR" />
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")"> 
        <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("images/favicon.ico")">
    </head>
    <body>
        
        <header class="topbar fill">
        	<h1 class="fill">
        		<a class="btn info large" id="add" href="@routes.Application.view()">Home</a>
        		<a class="btn info large" id="add" href="@routes.PatientController.view()">Pacientes</a>
        		<a class="btn info large" id="add" href="@routes.ProfessionalController.view()">Profissionais</a>
        		<a class="btn info large" id="add" href="@routes.PatrimoniesController.view()">Patrimônios</a>
			</h1>
        </header>
        
        <section id="main">
            @content
        </section>
        
        <footer>
        	Trabalho realizado por 
        	
        	nomes
        	
        	pucminas
        </footer>
        <script src="@routes.Assets.at("javascripts/angular.min.js")"></script>
    </body>
</html>
