@(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>Gestão Hospitalar</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta http-equiv="Content-Language" content="pt-BR" />
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")"> 
    </head>
    <body>
        
        <header class="topbar fill">
        	<h1 class="fill">
        		<a class="btn info large" id="add" href="@routes.Application.view()">Home</a>
				<a class="btn info large" id="add" href="@routes.DoctorController.view()">Medicos</a>
				<a class="btn info large" id="add" href="@routes.DoctorController.view()">Equipamentos</a>
				<a class="btn info large" id="add" href="@routes.DoctorController.view()">Pacientes</a>
			</h1>
        </header>
        
        <section id="main">
            @content
        </section>
        
        <footer>
        	Trabalho realizado por 
        	
        	nomes
        	
        	pucminas
        </footer>
    </body>
</html>
