@main {

<div ng-controller="PatriomnyCtrl">
	<h1 id="homeTitle">Patrimônios</h1>
	
	<div class="alert-message block-message success">{{message}}</div>

	<div class="well">
		<h2>Adicionar um patrimônio</h2> <br />

		<form class="ng-pristine ng-valid">
		   	<fieldset >
		   	
		   		<div class="clearfix ">
	    			<label for="name">Descrição</label>
	    			<div class="input">
	    				<input type="text" ng-model="description" />
			    	</div>

				</div>
	    	</fieldset>
		  	<div class="actions">
	    		<input type="submit" value="Salvar" class="btn success" ng-click="save()" />
     			<input type="button" value="Limpar" class="btn" ng-click="clear()" /> 
   			</div>
    	</form>
 	</div>
	<h2>Lista de patrimônios</h2>
	<table class="computers zebra-striped" >
		<thead>
			<tr>
				<td>Id</td>
				<td>Descrição</td>
				<td>Ações</td>
			</tr>
		</thead>
		<tbody >
			<tr ng-repeat="item in data">
	   			<td ng-model="id">{{item.id}}</td>
	   	        <td> {{item.description}} </td>
	            <td><input type="button" value="Editar" class="btn primary" ng-click="edit($index)">&nbsp;&nbsp;<input type="button" value="Deletar" class="btn danger" ng-click="delete(item.id)"></td>
             </tr>
	        </tbody>
	    </table>

</div>	    
	<script type="text/javascript">
	
		function PatriomnyCtrl ($scope, $http) {
			
			var object = null
			
			$scope.edit = function(_id){
				
				object = $scope.data[_id];
				
				$scope.description = object.description;
				
				
				
				console.log();
			}
			
			$scope.save = function(){
				var data;
				if (object == null)
					data = { id:null, description : $scope.description }
				else
					data = { id:object.id, description : $scope.description }
				
				var _url;
				
				if (data.id == null)
					_url = "@routes.PatrimoniesController.save()";
				else
					_url = "@routes.PatrimoniesController.edit()";
				
				$http.post(_url, JSON.stringify(data)).success(
						function(data, status, headers, config) {
							$scope.list();
							$scope.clear();
							$scope.message = data.message;
							object = null;
				})
				
				. error(function(data, status, headers, config) {
					
					$scope.message = "Erro ao chamar a url " + _url + " status " + status;
					
				});
			}
			
			$scope.delete = function(_id){
				
				var data = { id:_id };
				
				var _url = "@routes.PatrimoniesController.delete()";
				
				$http.post(_url, JSON.stringify(data)).success(	
						function(data, status, headers, config) {
							$scope.list();
							$scope.clear();
							$scope.message = data.message;
				})
				. error(function(data, status, headers, config) {
					$scope.message = "Erro ao chamar a url " + _url + " status " + status;
				})	
				
			}
			

			
			$scope.list = function () {
				
				var _url = "@routes.PatrimoniesController.list()";
				$http({method: 'GET', url: _url}).
			  		success(function(data, status, headers, config) {
			  		$scope.data = data.data;
					// this callback will be called asynchronously
			    	// when the response is available
			  })
			  . error(function(data, status, headers, config) {
			    // called asynchronously if an error occurs
			    // or server returns response with an error status.
				  $scope.message = "Erro ao chamar a url " + _url + " status " + status;
			  });
		
			}
			
			$scope.clear = function () {
				$scope.description = '';
				$scope.message = '';
			}
			$scope.list();
		
		}
		
    </script>
}
