@main {

    
    <h1 id="homeTitle">Patrimônios</h1>
    
    <input type="text" ng-model="yourName" />
    
    <h2>Adicionar um patrimônio {{yourName}} !</h2>
    
    
        
        <fieldset>

            
            <input type="submit" value="Salvar" class="btn primary"> 

        </fieldset>


    <h2></h2>


        <div class="alert-message warning">
            <strong>Done!</strong>
        </div>
  


        
        <div class="well">
            <em>Nothing to display</em>
        </div>

        
        <table class="computers zebra-striped">
            <thead>
                <tr>

                    
                </tr>
            </thead>
            <tbody>
	  
                    <tr>
            	        <td>  </td>
        	            <td> </td>
    	                <td><a href="">edit</a></td>
	                    <td><a href="">edit</a></td>
                    </tr>

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
 
            </ul>
        </div>

    }
